body{
    margin:0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: yellow;

}

.feedback-container{
    background-color: white;
    height: 200px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0px 4px 7px rgba(9, 9, 9,0.5);
    position: relative;

}
.emoji-container{

    position: absolute;
    left: 50%;
    top:20%;
    transform: translateX(-50%);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    overflow: hidden;
}
.fa-regular{
    margin:1px;
    transform: translateX(0);
    transition: transform 0.2s;
}
.rating-container{

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20%;
}
.fa-solid{
color: lightgrey;
cursor: pointer;
}
.fa-solid.active{
    color: gold;
}
